---
// Minimal Astro page - blog theme removed
// This page is overwritten by portal.html during deploy
---
<html lang="zh-CN">
<head><meta charset="UTF-8"><title></title></head>
<body></body>
</html>
