<div class="meteors" aria-hidden="true">
  <div class="meteor" style="top: 12%; left: 65%; --meteor-dur: 2.1s; --meteor-delay: 0s;" />
  <div class="meteor" style="top: 28%; left: 80%; --meteor-dur: 2.6s; --meteor-delay: 4.5s;" />
  <div class="meteor" style="top: 55%; left: 72%; --meteor-dur: 1.9s; --meteor-delay: 8s;" />
  <div class="meteor" style="top: 40%; left: 55%; --meteor-dur: 2.4s; --meteor-delay: 12s;" />
</div>
